.header-firm {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
}

.header__firm-logo {
    display: block;
}

.header__firm-contakt {
    & img {
        margin-right: 8px;
    }
}
