.link-btn {
    display: block;
    text-decoration: none;
    font-family: $font_family;
    font-size: 18px;
    font-weight: 400;
    color: $color_yellow;
    border: 1px solid $color_yellow;
    box-sizing: border-box;
    line-height: 30px;
    height: 50px;

    &__img {
        margin-right: 10px;
    }

    &--contakt {
        padding: 11px 11px 11px 25px;
        width: 218px;
    }

    &--projects {
        padding: 10px 40px;
        width: 180px;
    }
}