.construction-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 900px;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 192px;
    color: $color_white;
    font-family: Gilam;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;

    & li {
        padding: 54px 0 0 40px;
        & span {
            font-weight: 700;
        }
    }
}

.construction-list__item1 {
    grid-row-end: span 4;
    background-color: #0E0E0E;
    font-weight: 400;
}

.construction-list__item2 {
    grid-row-end: span 5;
    background-color: #242424;
    font-weight: 400;
}

.construction-list__item3 {
    grid-row-end: span 3;
    background-color: #1F1F1F;
}

.construction-list__item4 {
    grid-row-end: span 3;
    background-color: #0E0E0E;
}

.construction-list__item5 {
    grid-row-start: 5;
    grid-row-end: -1;
    background-color: #1F1F1F;
}

.construction-list__item6 {
    grid-row-end: span 4;
    background-color: #E4B564;
    margin-bottom: 20px;
    color: $color_black;
}

.construction-list__item7 {
    grid-row-end: span 3;
    background-color: #0A0909;
    font-weight: 700;
}