.customers {
    background-color: $bg_color_customers;
    width: 1460px;
    padding: 0 230px;
    margin-bottom: 238px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    padding-bottom: 61px;
}

.customers-list {
    display: grid;
    grid-template-rows: 391px 391px;
    grid-template-columns: repeat(3, 487px);
}

.customers-list__item1 {
    background-color: #634F2C;
    padding: 171px 151px;
}

.customers-list__item2 {
    background-color: #E8D2ABC2;
    padding: 61px 80px 26px 80px;
    text-align: center;
}

.customers-list__item3 {
    padding: 174px 149px;
    background-color: #E4B564;
}

.customers-list__item4 {
    padding: 174px 149px;
    background-color: #635A4A;
}

.customers-list__item5 {
    padding: 169px 183px;
    background-color: #B08C4D;
}

.customers-list__item6 {
    padding: 171px 151px;
    background-color: #634F2C;
}

.customers-list__logo {
    display: block;
    margin: 0 auto;
}

.customers-list__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: $color_white;
    padding-top: 9px;
    padding-bottom: 12px;
}
