.heating-network {
    margin-top: 46px;
    margin-bottom: 161px;
}

.heating-network__description {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $color_white;
    padding: 0 508px 0 0;
    margin: 41px 0;
}

.network-list {
    display: grid;
    height: 964px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 27px;
    margin-bottom: 161px;

    & li {
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        color: $color_white;
    }
}

.network-list__item1 {
    grid-column-end: span 2;
    background-color: #634F2C;
    padding: 220px 160px;
}

.network-list__item2 {
    grid-column-end: span 2;
    background-color: #B4A385;
    padding: 206px 43px;
}

.network-list__item3 {
    grid-column-end: span 2;
    background-color: #E4B564;
    padding: 220px 131px;
}

.network-list__item4 {
    grid-column-end: span 3;
    background-color: #635A4A;
    padding: 220px 144px;
}

.network-list__item5 {
    grid-column-end: span 3;
    background-color: #B08C4D;
    padding: 220px 250px;
}